<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue Basics</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles.css" />
    <script src="https://unpkg.com/vue@next" defer></script>
    <script src="app.js" defer></script>
  </head>
  <body>
    <header>
      <h1>Hutong Hero</h1>
    </header>
    <div id="game">
      <div class="char-container">
        <section id="monster" class="container">
          <div class="char-info">
            <h2>CPU: Beijing Bikini</h2>
            <h3 class="class-type">Class: LaoRen</h3>
          </div>
          <img class="monster-image" src="./bjbikini.png" />
          <div class="bar-and-hp">
            <p class="hp-bar">HP</p>
            <div class="healthbar">
              <div class="healthbar__value" :style="monsterBarStyles"></div>
            </div>
          </div>
          <h4 class="hp-fraction">{{getMonsterHealth() }}/100</h4>
        </section>
        <h2>VS</h2>
        <section id="player" class="container">
          <div class="char-info">
            <h2>P1: {{ char.name }}</h2>
            <h3 class="class-type">Class: {{ char.class }}</h3>
          </div>
          <img class="player-image" :src= "char.image"/>
          <div class="bar-and-hp">
            <p class="hp-bar">HP</p>
            <div class="healthbar">
              <div class="healthbar__value" :style="playerBarStyles"></div>
            </div>
          </div>
          <h4 class="hp-fraction">{{ getPlayerHealth() }}/100</h4>
        </section>
      </div>
      <section v-if="currentRound === 0" class="choose-character-container">
        <h2 class="choose-char">Choose Your Hero!</h2>
        <div class="select-char-container">
          <button :disabled="index === 0" @click="indexDown" class="left-arrow">
            <img class="arrow" src="./white-arrow-png-41962.png" />
          </button>
          <button :disabled="index === chars.length - 1" @click="indexUp" class="right-arrow">
            <img class="arrow" src="./white-arrow-png-41958.png" />
          </button>
        </div>
      </section>
      <section class="container" v-if="winner">
        <h2>Game Over!</h2>
        <h3 v-if="winner === 'monster'">You Lost!</h3>
        <h3 v-else-if="winner === 'player'">You Won!</h3>
        <h3 v-else="winner === 'draw">Draw...</h3>
        <button @click="startGame">Start New Game</button>
      </section>
      <div class="control-and-log">
        <section id="log" class="container">
          <h2>Battle Log</h2>
          <ul>
            <li v-for="logMessage in logMessages">
              <span
                :class="{'log--player': logMessage.actionBy === 'player', 'log--monster': logMessage.actionBy === 'monster'}"
                >{{ logMessage.actionBy === 'player' ? char.name :
                'Beijing Bikini' }}</span
              >
              <span v-if="logMessage.actionType === 'heal'">
                heals himself using "{{ char.heal }}" for
                <span class="log--heal">
                  {{ logMessage.actionValue }} hp regeneration.</span
                >
              </span>
              <span
                v-else-if="logMessage.actionType === 'attack' && logMessage.actionBy === 'player'"
              >
                attacks using "{{char.attack}}" and deals
                <span class="log--damage"
                  >{{ logMessage.actionValue }} hp in damage.</span
                >
              </span>
              <span
                v-else-if="logMessage.actionType === 'attack' && logMessage.actionBy === 'monster'"
              >
                attacks using "Belly Rub!" and deals
                <span class="log--damage"
                  >{{ logMessage.actionValue }} hp in damage.</span
                >
              </span>
              <span
                v-else-if="logMessage.actionType === 'special' && logMessage.actionBy === 'monster'"
              >
                attacks using "Baijiu burp!" and deals
                <span class="log--damage"
                  >{{ logMessage.actionValue }} hp in damage.</span
                >
              </span>
              <span v-else>
                attacks using "{{char.special}}" and deals
                <span class="log--damage"
                  >{{ logMessage.actionValue }} hp in damage.</span
                >
              </span>
            </li>
          </ul>
        </section>
        <section id="controls" v-else>
          <button :disabled="attacksAvailable === false" @click="attackMonster">
            Basic: {{char.attack}}
          </button>
          <button
            :disabled="specialAttackAvailable || attacksAvailable === false"
            @click="specialAttackMonster"
          >
            Special: {{char.special}}
          </button>
          <button :disabled="attacksAvailable === false" @click="healPlayer">
            HEAL: {{char.heal}}
          </button>
          <button @click="surrender">SURRENDER</button>
        </section>
      </div>
    </div>
  </body>
</html>
