* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-image: url('./images/hutong.jpeg');
  background-repeat: no-repeat;
  background-position: center;
}

.main {
  height: 90vh;
}

header {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  padding: 0.5rem;
  background-color: #de2910;
  border-bottom: 2px #ffde00;
  color: #ffde00;
  text-align: center;
}

.banner-title {
  font-family: 'Gang of Three';
  font-size: 5em;
  margin-bottom: 0;
  margin-top: 0;
  text-shadow: 2px 2px 5px black;
}

section {
  width: 90%;
  max-width: 40rem;
  margin: auto;
}

.healthbar {
  width: 100%;
  height: 20px;
  border: 1px solid #575757;
  margin: 1rem 0;
  background: #fde5e5;
}

.healthbar__value {
  background-color: #00a876;
  width: 100%;
  height: 100%;
}

.container {
  text-align: center;
  padding: 0.5rem;
  font-size: 19px;
  font-weight: bold;
  margin: 1rem auto;
  box-shadow: 2px 2px 5px;
  border-radius: 12px;
  background-image: url('./images/bricks.jpeg');
  border-width: 4px;
  border-color: black;
}

#monster h2,
#player h2 {
  margin-bottom: 0;
  margin: 0.25rem;
  text-align: left;
}

#controls {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.name {
  font-size: 35px;
}

button {
  font: inherit;
  border: 1px solid #de2910;
  background-color: #de2910;
  color: #ffde00;
  font-family: 'Gang of Three';
  font-size: 20px;
  padding: 1rem 2rem;
  border-radius: 12px;
  margin: 1rem;
  width: 12rem;
  cursor: pointer;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.26);
  transition: ease-in 500ms;
}

button:focus {
  outline: none;
}

button:hover,
button:active {
  background-color: #ffde00;
  border-color: #ffde00;
  color: #de2910;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.26);
}

button:disabled {
  background-color: #ccc;
  border-color: #ccc;
  box-shadow: none;
  color: black;
  cursor: not-allowed;
}

#log ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#log li {
  margin: 0.5rem 0;
}

.log--player {
  color: #ffde00;
  font-size: 18px;
  font-weight: bold;
  text-shadow: 1px 1px black;
}

.log--monster {
  color: #de2910;
  font-size: 20px;
  font-weight: bold;
  text-shadow: 1px 1px black;
}

.log--damage {
  color: red;
  font-size: 20px;
  font-weight: bold;
  text-shadow: 1px 1px black;
}

.log--heal {
  color: green;
  font-size: 20px;
  font-weight: bold;
}

.hp-bar {
  font-size: 20px;
  font-weight: bold;
  margin-right: 0.5em;
  margin-top: 0.55em;
}

.bar-and-hp {
  display: flex;
  flex-direction: row;
}

.hp-fraction {
  font-size: 30px;
  margin: 0;
  text-align: right;
}

.monster-image {
  border-radius: 5px;
  height: 200px;
  box-shadow: 2px 2px 5px;
}

.player-image {
  border-radius: 5px;
  height: 200px;
  box-shadow: 2px 2px 5px;
}

.char-container {
  display: flex;
  flex-direction: row;
}

#log ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#log li {
  margin: 0.5rem 0;
}

.log--player {
  color: #ffde00;
}

.log--monster {
  color: #de2910;
}

.log--damage {
  color: red;
}

.log--heal {
  color: green;
}

.control-and-log {
  display: flex;
  flex-direction: row;
  margin-bottom: 2em;
}

.text-container {
  font-size: 25px;
  margin-left: 2.5em;
}

.char-info {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.class-type {
  margin: 0;
  margin-left: 0.25em;
  font-size: 25px;
}

.versus {
  font-size: 35px;
  margin-top: 8em;
  font-family: 'Gang of Three';
  color: yellow;
  text-shadow: 2px 2px black;
}
.choose-char {
  margin-bottom: 0;
  font-family: 'Gang of Three';
  text-shadow: 2px 2px black;
  color: #ffde00;
  font-size: 35px;
  text-align: center;
}

.select-char-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.left-arrow {
  padding: 0;
  width: 100px;
}

.right-arrow {
  padding: 0;
  width: 100px;
}

.arrow {
  color: white;
  height: 50px;
  margin: 0;
}

.choose-character-container {
  display: flex;
  flex-direction: column;
}

.p-select {
  display: flex;
  flex-direction: column;
  margin-left: 3em;
}

.enemy-title {
  margin-bottom: 0;
  text-align: center;
  color: #ffde00;
  font-size: 35px;
  text-shadow: 2px 2px 4px black;
  font-family: 'Gang of Three';
}

.enemy-p1-choose {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.start {
  margin-left: 2em;
  position: relative;
  left: 2em;
  margin-top: 4em;
  padding: 0;
  height: 3em;
}

.control:disabled {
  text-shadow: 0;
}

.battle-log {
  font-family: 'Gang of Three';
  color: #ffde00;
  text-shadow: 2px 2px black;
}
